# Archivos de texto
*.java text eol=lf
*.gradle text eol=lf
*.properties text eol=lf
*.xml text eol=lf
*.json text eol=lf
*.md text eol=lf
*.txt text eol=lf

# Archivos binarios
*.png binary
*.jpg binary
*.gif binary
*.wav binary
*.mp3 binary
*.ogg binary
*.atlas binary
*.tmx binary
*.tsx binary
*.jar binary
*.zip binary
*.tar binary
*.gz binary

# Archivos de recursos
*.fnt binary
*.ttf binary
*.otf binary
*.woff binary
*.woff2 binary

# Archivos de configuración
*.iml text eol=lf
*.ipr text eol=lf
*.iws text eol=lf
.vscode/* text eol=lf
.idea/* text eol=lf 